
@media screen and  (min-width: 769px){
#A{

    margin-top: 30px;
}
#B{

    margin-top: 250px;
}
#C{

    margin-top: 90px;
}
#D{

    margin-top: 90px;
}

#E{

    margin-top: 100px;
}

#F{

    margin-top: 100px;
}
#G{

    margin-top: 100px;
}
#H{

    margin-top: 100px;
}

#I{

    margin-top: 80px;
}
}
@media screen and  (max-width: 768px){
    #A{

        margin-top: 20px;
    }
    #B{
    
        margin-top: 65px;
    }
    #C{
    
        margin-top: 50px;
    }
    #D{
    
        margin-top: 50px;
    }
    
    #E{
    
        margin-top: 100px;
    }
    
    #F{
    
        margin-top: 100px;
    }
    #G{
    
        margin-top: 100px;
    }
    #H{
    
        margin-top: 100px;
    }
    
    #I{
    
        margin-top:50px;
    }

}